<div class="product-contaner">
 <!--    <img [src]="product.imgSrc" alt="">
    <p>Name : {{product.name}}</p>
    <p>Price : {{'$ '+product.price}}</p>
    <p>Color : ${{product.color}}</p>
    <p>Discounted Price : {{ getDiscountPrice().toFixed(2) }}</p>
    <p>{{product.inStock > 0 ? ' Only ' + product.inStock + ' item in Stock' : 'No item in Stock'}}</p>
    <button (click)="decValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="incValue()">+</button>
    <input type="text" [value]="name" (input)="onNameChange($event)"><br>
    <p>name= {{name}}</p> -->
    <app-search></app-search>
    <product-list></product-list>
    <!-- <div *ngFor="let item of listOfString">
        <p>{{item}}</p>
    </div> -->
</div>